:root {
  --clr-dark: #24285d;
  --clr-neutral: #cbcbcb;
  --clr-accent: #f52441;
  --clr-secondary: #b0a2cb;

  --ff-accent: "Playfair Display", serif; /* reg:400, Bold:700, ex-bold:800 */
  --ff-primary: "Poppins", sans-serif; /* light:300, Ex-bold:800 */
  --ff-content: "futura", sans-serif;
  --ff-bodycopy: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-style: none;
}

header {
  background-color: var(--clr-dark);
  text-align: center;
  width: 100%;
  padding-block: 80px;
  margin-bottom: 100px;
  position: relative;
}

.featured {
  position: absolute;
  top: 90%;
  left: 33%;
  right: 33%;
  text-align: center;
  background-color: var(--clr-accent);
  color: white;
  font-size: 1.8rem;
  padding: 10px 3px;
  font-family: var(--ff-content);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 7px 7px var(--clr-neutral);
}
.header-inner {
  margin-bottom: 5em;
  background-color: var(--clr-dark);
  text-align: center;
  width: 100%;
  padding-block: 50px;
  margin-bottom: 100px;
  position: relative;
}
.page-headings {
  position: absolute;
  top: 70%;
  left: 33%;
  right: 33%;
  text-align: center;
  background-color: var(--clr-accent);
  color: white;
  font-size: 1.8rem;
  padding: 10px 3px;
  font-family: var(--ff-content);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 7px 7px var(--clr-neutral);
}
h1 {
  font-family: var(--ff-accent);
  color: white;
  font-size: 8rem;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 2px;
  padding-bottom: 2rem;
}

h2 {
  font-family: var(--ff-content);
  color: white;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3 {
  font-family: var(--ff-accent);
  font-weight: 400;
  color: white;
  font-size: 2rem;
  letter-spacing: 0.5px;
}
h5 {
  font-family: var(--ff-content);
  color: var(--clr-dark);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding-top: 1.5rem;
}

.nav-bg {
  background-color: var(--clr-neutral);
  height: 60px;
}

.logo {
  box-shadow: none;
  padding-top: 8px;
  height: 100%;
}

ul {
  display: flex;
}

nav li {
  list-style: none;
  font-family: var(--ff-bodycopy);
  color: var(--clr-dark);
  font-size: 1.5rem;
  font-weight: 400;
  padding-block: 20px;
  padding-left: 20px;
}

nav li a:hover {
  color: var(--clr-secondary);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.active {
  color: var(--clr-accent);
}
.headings {
  font-family: var(--ff-accent);
  font-weight: 400;
  color: white;
  font-size: 3.5rem;
  letter-spacing: 0.5px;
}
.dark {
  color: var(--clr-dark);
}

.cta {
  text-decoration: none;
  background-color: var(--clr-accent);
  color: white;
  font-size: 1.4rem;
  padding: 1em;
  font-family: var(--ff-content);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 7px 7px var(--clr-neutral);
  margin-bottom: 2em;
}
.cta-dark {
  text-decoration: none;
  background-color: var(--clr-accent);
  color: white;
  font-size: 1.4rem;
  padding: 1em;
  font-family: var(--ff-content);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 7px 7px var(--clr-dark);
}

.cta:hover,
.cta-dark:hover {
  color: white;
  background-color: var(--clr-dark);
  box-shadow: 7px 7px var(--clr-accent);
  transition: all 300ms ease-in-out;
}

.footer {
  background-color: var(--clr-dark);
  max-height: 300px;
  margin: auto;
  padding-top: 20px;
}
.social-icons a {
  text-align: center;
  float: right;
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 100%;
  margin-bottom: 50px;
  margin-right: 7px;
  display: inline;
}
.social-icons a i {
  font-size: 20px;
  line-height: 38px;
  color: var(--clr-accent);
}

.content-container {
  margin: 3em;
}

.content {
  margin-top: 1em;
  margin-bottom: 3em;
}
p {
  color: var(--clr-dark);
  font-size: 1.5rem;
  font-family: var(--ff-bodycopy);
}

img {
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.about {
  box-shadow: 15px 15px var(--clr-dark), -15px -15px var(--clr-accent);
  margin-bottom: 2em;
  background-color: var(--clr-neutral);
}

.box-shadow {
  box-shadow: -15px -15px var(--clr-dark);
}
.light {
  background-color: var(--clr-secondary);
  width: 100%;
  padding-block: 50px;
  margin: 80px auto 0;
}

.quotes {
  font-family: var(--ff-accent);
  font-weight: 400;
  color: white;
  font-size: 4rem;
}

.neutral {
  background-color: var(--clr-neutral);
  padding-block: 80px;
  margin: auto;
}

.center-vertical {
  margin: 0 auto;
}

.enquire {
  font-family: var(--ff-accent);
  font-weight: 700;
  color: var(--clr-dark);
  font-size: 5rem;

  padding-right: 30px;
}
.border-red {
  border-right: 1px solid var(--clr-accent);
}
.emphasis-text {
  font-family: var(--ff-content);
  font-weight: 800;
  font-size: 1.4em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.flex-2 {
  max-width: 400px;
  flex: 1 0 100%;
  margin-left: 20px;
  margin-block: auto;
}

.container-narrow {
  max-width: 270px;
}

.card {
  margin-top: 15px;
}

.card-img-top {
  box-shadow: none;
  padding: 10px;
}

.card-body p {
  text-align: center;
  opacity: 0.8;
  margin-inline: 40px;
  min-height: 50px;
}

.form-group > * {
  color: var(--clr-dark);
  font-size: 1.3rem;
  font-family: var(--ff-bodycopy);
  padding: 5px;
}

@media (max-width: 770px) {
  .content-container,
  p,
  .about-cta {
    text-align: center;
  }

  h1 {
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  h3 {
    font-weight: 400;
    color: white;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    text-align: center;
  }

  .flex-2 {
    text-align: center;
    padding-left: 50px;
  }

  .enquire {
    font-family: var(--ff-accent);
    font-weight: 700;
    text-align: center;
    color: var(--clr-dark);
    font-size: 5rem;
    border-right: 0;
    padding-right: 0px;
  }
}
